# Base de datos (contiene datos de prueba))
#data/inventario.db

# Python cachés
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de IDEs
.idea/
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db